<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      {% block head %}<title>Base template</title>{% endblock %}
      {% load static %}
      {% load staticfiles %}
      <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
      <link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}"/>
  </head>
  <body>
        {% block navbar %}
          <!-- HEADER AND NAVBAR -->
          <header>
              <div class="navbar navbar-default">
                  <div class="navbar-header">
                      <a class="navbar-brand" href="/">Inventory</a>
                  </div>
                    <!--{% if request.user.is_authenticated %}-->
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="#"><i class="glyphicon glyphicon-off"></i>Logout</a></li>
                    </ul>
                    <!--{% elif not user.is_authenticated %}-->
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="#"><i class="glyphicon glyphicon-off"></i>Logout</a></li>
                    </ul>
                    <!--{% endif %}-->
              </div>
            </header>
              {% endblock %}
          {% block sidebar %}

          <!--- This is the sidebar ---->
          		<div class="wrapper">
              	    <div class="side-bar">
                          <ul>
                              <li class="menu-head">
                                  Category <a href="#" class="push_menu"><span class="glyphicon glyphicon-align-justify pull-right"></span></a>
                              </li>
                              <div class="menu">
                                  <li>
                                    {% url 'inventorys:tshirt' as tshirt_url %}
                                      <a href="{% url 'inventorys:tshirt' %}" {% if request.get_full_path == tshirt_url %}class="active"{% endif %}>T-shirt <span class="glyphicon glyphicon-th-list pull-right"></span></a>
                                  </li>
                                  <li>
                                    {% url 'inventorys:acce' as acce_url %}
                                      <a href="{% url 'inventorys:acce' %}" {% if request.get_full_path == acce_url %} class="active" {% endif %}>Accesories <span class="glyphicon glyphicon-pawn pull-right"></span></a>
                                  </li>
                                  <li>
                                    {% url 'inventorys:shoes' as shoes_url %}
                                      <a href="{% url 'inventorys:shoes' %}"{% if request.get_full_path == shoes_url %} class="active" {% endif %}>Shoes <span class="glyphicon glyphicon-stats pull-right"></span></a>
                                  </li>
          												<li>
                                    {% url 'inventorys:inventory_add' as inventory_url %}
          														<a href="{% url 'inventorys:inventory_add' %}" {% if request.get_full_path == inventory_url %} class="active" {% endif %}>Inventory <span class="glyphicon glyphicon-list-alt pull-right"></span></a>
          												</li>
                              </div>

                          </ul>
              	    </div>
                    {% block content %}
                      <div class="content">
                          <div class="col-md-12">
                              <div class="panel panel-default">
                                  <div class="panel-heading">Panel heading default</div>
                                  <div class="panel-body">
                                      Panel content default
                                  </div>
                              </div>
                          </div>
                      </div>
          		</div>
                    {% endblock %}
          {% endblock %}
          {% block body %}
          {% endblock %}
          <!-- bootrtap js files -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

          <!-- vue.js files -->
          <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
          <link rel="stylesheet" type="text/js" href="{% static 'js/script.js' %}"/>
          <script src="{% static 'src/inventory/inventory.js' %}" type="text/javascript"></script>
      </body>
      </html>
